@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --fonte1: verdana; Geneva, Tahoma, sans-serif;
    --fonte2: 'Patua One', serif;
}

h2 {
    background-color: #642764;
    text-align: center;
    color: white;
}


* {
margin: 0px;
padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #ffffff;
    font-family: var(--fonte2);
}

header {
    background-color: #8b008b;
    color: #ffffff; 
    text-align: center;
}


header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    text-align: center;
    color: white;
   
}

header > p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1,5em;
}

section.normal {
    background-color: #800080;
    color: rgb(255, 255, 255);
}

section > p {
    padding-bottom:  2em;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: #8158811f;
}

section.imagem {
    background-color: rgb(39, 27, 27);
    color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
}


section#img01 {
    background-image: url('../imagens/l.jpeg');
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/k.jpeg');
    background-position: right center;
    background-size: cover;
}

section#img03 {
    background-image: url('../imagens/n.jpeg');
    background-position: right center;
    background-size: cover;
}

footer {
    color: white;
    text-align: center;
}

section#img04 {
    background-image: url('../imagens/i.jpeg');
    background-position: right center;
    background-size: cover;
}

section#img003 {
    background-image: url('../imagens/j.jpeg');
    background-position: right center;
    background-size: cover;
}
